/* 
Potential Title text styles
font-family: 'Acme', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Rancho', cursive;

Body text
font-family: 'Noto Sans HK', sans-serif; 

*/

body {
  font-family: 'Noto Sans HK', sans-serif; 
}

.acme {
  font-family: 'Acme', sans-serif;
  font-size: 30pt;
}

.russo {
  font-family: 'Russo One', sans-serif;
  font-size: 40pt;
  color: #fe7832;
}

.boogaloo {
  font-family: 'Boogaloo', cursive;
  font-size: 30pt;
}

.rancho {
  font-family: 'Rancho', cursive;
  font-size: 30pt;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App.intro {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
