.my-divider {
    border-top: 5px solid orangered;
}

.small-divider {
    border-top: 2px solid orangered;
}

.add-pack-submit {
    width: 200px;
    height: 100px;
}

.second-grp {
    margin-top: 10px;
}
.my-form {
    margin: 15px;
    width: 100%;
}