.header-row {
    width: 100%
}

.page-header {
    font-size: 30pt;
    color: #fe7832;
    text-shadow: 2px 2px silver;
    width: 100%;
}

.intro {
    font-size: 14pt;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.stats-header {
    font-size: 24pt;
    color: #fe7832;
    text-shadow: 2px 2px silver;
    width: 100%;
    text-align: center;
}

.stats-table {
    color: silver;
    width: 100%;
}

.stats-th {
    color: silver;
    font-size: 16pt;
    font-weight: 600;
}

.stats-tr {
    color: #b94d15;
    font-size: 18pt;
    font-weight: 600;
}

.progress-pct {
    color: #b94d15;
}